body{
    display: block;
    padding: 0 10vw;
}

.logo{
    margin: 20px auto 50px;
}

input, textarea{
    font-weight: 500;
}

input:not(input[type="checkbox"]){
    width: 100%;
}

textarea{
    width: 100%;
    height: 270px;
    resize: none;
    padding: 10px 20px;
    
}

.productInfo{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
} 

::placeholder{
    color: var(--main-color);
}

.productImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    background-size: cover;
    border-radius: 10px;
    grid-row: span 2;
    text-shadow: 0 0 10px #fff;
}

.starRating{
    height: 30px;
}

.productImgText{
    text-transform: capitalize;
    color: #383838;
    font-size: 20px;
    font-weight: 500;
}

.productImgText img{
    height: 20px;
    margin-right: 10px;   
}

.uploadArea, .sizesSelect{
    background:  var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
}

.uploadedImages{
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.uploadedImages input{
    display: none;
}

.uploadedImage{
    width: 100%;
    height: 100px;
    background: var(--alternate1);
    cursor: pointer;
    background-size: cover;
}

.uploadedImage:hover{
    background: var(--main-color);
    background-size: cover;
}

.sizes {
    margin-top: 30px;
}

.sizeCheckbox{
    -webkit-appearance: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    color: var(--main-color);
}

.sizeCheckbox::after{
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    text-transform: uppercase;
}

.sizeCheckbox:checked{
    background: var(--main-color);
    color: var(--secondary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.productPricing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.productPricing input{
    margin: 0;
}

.productButtons{
    margin: 20px 0 50px;
}

.btn{
    padding: 10px 30px;
    text-transform: capitalize;
    color: var(--secondary-color);
    background: var(--main-color);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

#saveButton{
    background: #333131;
}

/* review */
.reviewHeadline, .reviewField{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    line-height: 40px;
    color: var(--main-color);
    outline: none;
  }
  
  ::placeholder{
    color: var(--main-color);
  }
  
  .reviewField{
    height: 160px;
    resize: none;
    padding: 0 10px;
  }
  
  .reviewHeadline:focus, .reviewField:focus{
    border-color: var(--main-color);
  }
  
  .reviewHeadline:focus::placeholder, .reviewField:focus::placeholder{
    border-color: var(--main-color);
  }
  
  .ratingText{
    color: var(--main-color);
    text-transform: capitalize;
    margin: 10px 0;
  }
  
  .ratingStar{
    cursor: pointer;
  }

  .addReviewBtn{
    border: none;
    outline: none;
    background: var(--dark-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
  }

  .productError{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  min-height: 100px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  font-size: 1rem;
  line-height: 1.2rem;
  z-index: 9;
  text-align: center;
  text-transform: capitalize;
  color: crimson;
  align-items: center;
  display: flex;  
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  border: 1px solid #cacaca;
  }

  .disable{
    pointer-events: none;
    filter: grayscale(1);
  }

  *[contenteditable="true"]{
    outline: none;
    border: 2px solid var(--secondary-color);
  }

  *[contenteditable="true"]:focus{
    border-color: var(--main-color);
  }

  *[contenteditable="true"]::placeholder{
    margin-top: -12px;
  }

  .tagSection{
    padding: 30px 5vw;
  }

  .tagRules{
    text-transform: capitalize;
    font-size: 1.1rem;
    line-height: 2rem;
    opacity: 0.5;
  }

  .categoryTags{
    height: 300px;
    margin: 20px 0;
    padding: 10px;
  }


  
  
  